
<main>
  <div class="wrap">
    {{!-- <label>Short Term</label> --}}
    <div class="short-term">
      
        {{#each todo in model}}
            <div class="st-todo">
              {{todo.title}}
            </div>
            <li>{{link-to 'See Profile' 'todos.show' this}}</li>
            <li>{{link-to 'Edit info' 'todos.edit' this}}</li>

        {{/each}}
       
       <div class="add">Add a Card</div>
    </div>
  </div>
{{outlet}}
</main>
    
{{!--    <div class="medium-term">
      <div class="mt-todo"></div>
      <div class="add">Add a Card</div>
    </div>
    <div class="long-term">
      <label>Long Term</label>
      <div class="lt-todo">
        <p>Save The World</p>
      </div>
     
      <div class="add">Add a Card</div>
    </div>    
  </div> --}}
